
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Moonlight.jpeg"); 
    background-attachment: fixed;
    background-position: center; 
    text-align: center;
    font-size: x-large;
    color: white;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
    background-color: transparent;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 25px; 
    font-size: 1.2rem; 
    line-height: 1.5; 
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

section {
    padding: 20px;
    margin: 30px auto;
    max-width: 1000px;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 15px;
    display:flow-root;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    flex: 1 1 45%; 
    max-width: 45%;
    float: left; 
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px; 
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid transparent;
}

.gallery-item p {
    margin: 10px 0; 
    font-size: 0.9rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

ul {
    list-style: disc;
    margin: 0;
    padding: 0 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
}
 
@media screen and (max-width: 700px){
    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

    nav ul {
        gap: 10px;
    }